<% provide :title, "Category" %>
<div class="container">
  <br><h1><%= "Category" %></h1>
  <%= will_paginate %>
  <% @categories.each do |category| %>
    <hr>
    <div class="panel panel-white post panel-shadow">
      <div class="post-footer">
        <ul class="comments-list">
          <li class="comment">
            <div class="comment-body">
              <h2 class="user"><%= link_to category.name, admin_category_path(category) %></h2>
            </div>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
  <%= will_paginate %>
</div>
