<!-- Main -->
<main id="main" class="wrapper main-content">
   <%= render "components/home/slider"%>
   <%= render "components/home/categories"%>
   <%= render "components/home/tabs-categories"%>
   <%= render "components/home/promotion"%>
</main>
<!-- end main -->
