<% provide(:title, "Log in") %>

<div class="breadcrumbs breadcrumbs-v2">
   <div class="container clearfix">
      <ul class="items">
         <li class="item home">
            <%= link_to "Home", root_path, "title"=>"Go to Home Page" %>
         </li>
         <li class="item cart">
            <a href="#" >Login-register</a>
         </li>
      </ul>
   </div>  
</div>
<main class="wrapper main-content ">
   <!-- login-register-text -->
   <section class="login-register">
      <div class="container">
         <div class="row">
            <div class="col-md-6 col-sm-6">
               <%= render "components/login-register/login_form" %>
            </div>

            <div class="col-md-6 col-sm-6">
               <%= render "components/login-register/register_form" %>
            </div>

         </div>
      </div>

   </section>
   <!-- end login-register -->
</main>