<section id="engo-2" class="engo-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0ms">
   <div class="collection-v3 margin-bottom-100">
      <div class="container-full-screen">
         <div class="row">
            <div class="col-sm-4">
               <div class="img-eff1">
                  <div class="ov1"></div>
                  <div class="ov2"></div>
                  <div class="ov3"></div>
                  <div class="ov4"></div>
                  <a href="/categories/<%= @category_1[1].category.id %>" style="height: 350px; background-image: url('http://nautica.themeocean.net/wp-content/uploads/2016/02/image1.jpg'); background-size: cover; background-position: center; width: 100%;display: block;">
                  </a>
               </div>
            </div>
            <div class="col-sm-4 img-eff1">
               <div class="img-eff1">
                  <div class="ov1"></div>
                  <div class="ov2"></div>
                  <div class="ov3"></div>
                  <div class="ov4"></div>
                  <a href="/categories/<%= @category_2[1].category.id %>" style="height: 350px; background-image: url('http://nautica.themeocean.net/wp-content/uploads/2016/02/image2.jpg'); background-size: cover; background-position: center; width: 100%;display: block;">
                  </a>
               </div>
            </div>
            <div class="col-sm-4 img-eff1">
               <div class="img-eff1">
                  <div class="ov1"></div>
                  <div class="ov2"></div>
                  <div class="ov3"></div>
                  <div class="ov4"></div>
                  <a href="/categories/<%= @category_3[1].category.id %>" style="height: 350px; background-image: url('http://nautica.themeocean.net/wp-content/uploads/2016/02/image3.jpg'); background-size: cover; background-position: center; width: 100%;display: block;">
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
