<!-- promotion -->
<section id="engo-4" class="engo-box">
   <div class="policy-v4 margin-top-0">
      <!-- <div class="parallax-window " data-parallax="scroll" data-image-src="images/paralax2.png"> -->
      <div class="parallax parallax-v1 background-img-v3 parallax-light">
         <div class="container">
            <div class="top-policy">
               <h3 class="h3-title">
                  WELCOME TO NAUTICA STORE
               </h3>
               <div class="line"></div>
               <div class="des">
                  We are specialists at creating bold and memorable work that helps businesses stand proudly apart from their competitors, giving them a long-lasting presence with real integrity.
               </div>
            </div>
            <div class="row">
               <div class="col-sm-4 ">
                  <div class="policy-items free-ship">
                     <a href="#">
                        <div>FREE SHIPPING WORLDWIDE</div>
                        <span>Guaranteed Delivery In 4 Days</span>
                     </a>
                  </div>
               </div>
               <div class="col-sm-4 ">
                  <div class="policy-items t247">
                     <a href="#">
                        <div>24/7 CUSTOMER SERVICE</div>
                        <span>Call Us 24/7 At 070-7782-9137</span>
                     </a>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="policy-items refurn">
                     <a href="#">
                        <div>
                           MONEY BACK GUARATEE!
                        </div>
                        <span>Send Within 30 Days</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- end promotion -->