<section id="engo-1" class="eng-box">
	<!-- slider -->
	<div class="main-slider margin-bottom-0 ">
		<div class="fullwidthbanner-container">
			<div class="r_slider" data-width="1920" data-height="1065" data-screen="on" data-fullwidth="on">
				<ul>
					<li class="f_left bg-mth" data-transition="cube" data-slotamount="7" >
						<img src="/images/slider/banner-img4.png" alt="" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center">
<!-- 						<div class="caption lft ltt" data-x="300" data-y="260" data-speed="1500" data-start="1200" data-easing="easeOutBounce">
							<img src="images/slider/slider4-text.png" alt="">
						</div>
						<div class="caption sfr" data-x="300" data-y="450" data-speed="1500" data-start="2500" data-easing="easeOutBounce" style="font-size: 114px">
							<p><span class="slider-top big-text big6">Nautica</span></p>
						</div>
						<div class="caption lft ltt" data-x="300" data-y="560" data-speed="1500" data-start="1400" data-easing="easeOutBounce" style="font-size: 57px; ">
							<p><span class="slider-top small-text5">Online Shopping</span></p>
						</div> -->
					</li>
<!-- 					<li class="f_left bg-mth" data-transition="cube" data-slotamount="7" >
						<img src="images/slider/banner-img4-2.png" alt="" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center">
						<div class="caption lft ltt" data-x="950" data-y="331" data-speed="1500" data-start="1200" data-easing="easeOutBounce" style="font-size:136px">
							<p><span class="slider-top big-text big1">autumn</span></p>
						</div>
						<div class="caption lft ltt" data-x="1100" data-y="435" data-speed="1500" data-start="1400" data-easing="easeOutBounce"  style="font-size:136px">
							<p><span class="slider-top big-text big11">coming</span></p>
						</div>
						<div class="caption lft ltt" data-x="890" data-y="540" data-speed="1500" data-start="1600" data-easing="easeOutBounce"  style="font-size:178px">
							<p><span class="slider-top big-text big2">TOWN</span></p>
						</div>
						<div class="caption lft ltt" data-x="780" data-y="470" data-speed="1500" data-start="2000" data-easing="easeOutBounce"  style="font-size:25px; line-height: 30px">
							<p class="small-text">
								FASHION<br>COLLECTIONS<br>FOR WOMEN
							</p>
						</div>
						<div class="caption lft ltt" data-x="1460" data-y="400" data-speed="1500" data-start="1400" data-easing="easeOutBounce" style="font-size:82px;font-style:italic;">
							<p><span class="slider-top small1">is</span></p>
						</div>
						<div class="caption lft ltt" data-x="855" data-y="590" data-speed="1500" data-start="1400" data-easing="easeOutBounce" style="font-size:82px ;font-style:italic;">
							<p><span class="slider-top  small1">to</span></p>
						</div>
					</li> -->
				</ul>
			</div>
		</div>
	</div>
	<!-- end slider -->
</section>