   <!-- tabs-collection -->
   <section id="engo-3" class="engo-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0ms">
      <div class="container-full-screen-2">
         <div id="tabs-collection" class="tabs-collection">
            <div class="tab-container">
               <div class="tab-title box-title">
                  <ul class="ul-tab">
                     <li class="active" data-tab="tab-most-wanted">
                        <h3 class="h3-title">
                           <a href="#">Most wanted</a>
                        </h3>
                     </li>
                     <li data-tab="tab-new-arrival">
                        <h3 class="h3-title">
                           <a href="#">New arrival</a>
                        </h3>
                     </li>
                     <li data-tab="tab-best-seller">
                        <h3 class="h3-title">
                           <a href="#"> Best seller</a>
                        </h3>
                     </li>
                  </ul>
                  <div class="title-icon">
                     <img src="images/title-icon.png" alt="">
                  </div>
               </div>
               <!-- tab container -->
               <div class="tab-content tab-most-wanted current box-content active">
                  <div class="product-grid ">
                     <!-- row item -->
                     <div class="row row-items clearfix">
                        <!-- product -->
                        <div class="col-md-2 col-sm-3">
                           <div class="product-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0">
                              <div class="product-img">
                                 <a href="#" class="image-hover">
                                    <img src="images/product/tab-product/1.jpg" alt="" class="product-image-photo">
                                    <img src="images/product/tab-product/1-2.jpg" alt="" class="product-image-photo">
                                 </a>
                                 <p class="product-label sale-label">Sale</p>
                              </div>
                              <div class="product-info">
                                 <div class="ratings">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star empty"></i>
                                    <i class="fa fa-star empty"></i>
                                 </div>
                                 <div class="product-name">
                                    <a href="#" class="product-item-link">
                                       Legging Cathedral
                                    </a>
                                 </div>
                                 <div class="price-box price-final_price">
                                    <span class="price-container">
                                       <span class="price">
                                        $ 35.00
                                     </span>
                                  </span>
                               </div>
                               <!-- actions -->
                               <div class="actions">
                                 <div class="action add-to-cart">
                                    <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                                    </a>
                                 </div>
                                 <div class="action add-to-wishlist">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                                    </a>
                                 </div>
                                 <div class="action add-to-quickview">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
                                    </a>
                                 </div>
                              </div>
                              <!-- end actions -->
                           </div>
                        </div>
                     </div>
                     <!-- end product -->
                     <!-- product -->
                     <div class="col-md-2 col-sm-3">
                        <div class="product-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="200ms">
                           <div class="product-img">
                              <a href="#" class="image-hover">
                                 <img src="images/product/tab-product/2.jpg" alt="" class="product-image-photo">
                                 <img src="images/product/tab-product/2-2.jpg" alt="" class="product-image-photo">
                              </a>
                           </div>
                           <div class="product-info">
                              <div class="ratings">
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star empty"></i>
                                 <i class="fa fa-star empty"></i>
                              </div>
                              <div class="product-name">
                                 <a href="#" class="product-item-link">
                                    Legging Cathedral
                                 </a>
                              </div>
                              <div class="price-box price-final_price">
                                 <span class="price-container">
                                    <span class="price">
                                       $ 35.00
                                    </span>
                                 </span>
                              </div>
                              <!-- actions -->
                              <div class="actions">
                                 <div class="action add-to-cart">
                                    <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                                    </a>
                                 </div>
                                 <div class="action add-to-wishlist">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                                    </a>
                                 </div>
                                 <div class="action add-to-quickview">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
                                    </a>
                                 </div>
                              </div>
                              <!-- end actions -->
                           </div>
                        </div>
                     </div>
                     <!-- end product -->
                     <!-- product -->
                     <div class="col-md-2 col-sm-3">
                        <div class="product-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="400ms">
                           <div class="product-img">
                              <a href="#" class="image-hover">
                                 <img src="images/product/tab-product/3.jpg" alt="" class="product-image-photo">
                                 <img src="images/product/tab-product/3-2.jpg" alt="" class="product-image-photo">
                              </a>
                           </div>
                           <div class="product-info">
                              <div class="ratings">
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star empty"></i>
                                 <i class="fa fa-star empty"></i>
                              </div>
                              <div class="product-name">
                                 <a href="#" class="product-item-link">
                                    Legging Cathedral
                                 </a>
                              </div>
                              <div class="price-box price-final_price">
                                 <span class="price-container">
                                    <span class="price">
                                       $ 35.00
                                    </span>
                                 </span>
                              </div>
                              <!-- actions -->
                              <div class="actions">
                                 <div class="action add-to-cart">
                                    <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                                    </a>
                                 </div>
                                 <div class="action add-to-wishlist">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                                    </a>
                                 </div>
                                 <div class="action add-to-quickview">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
                                    </a>
                                 </div>
                              </div>
                              <!-- end actions -->
                           </div>
                        </div>
                     </div>
                     <!-- end product -->
                     <!-- product -->
                     <div class="col-md-2 col-sm-3">
                        <div class="product-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="600ms">
                           <div class="product-img">
                              <a href="#" class="image-hover">
                                 <img src="images/product/tab-product/4.jpg" alt="" class="product-image-photo">
                                 <img src="images/product/tab-product/4-2.jpg" alt="" class="product-image-photo">
                              </a>
                           </div>
                           <div class="product-info">
                              <div class="ratings">
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star empty"></i>
                                 <i class="fa fa-star empty"></i>
                              </div>
                              <div class="product-name">
                                 <a href="#" class="product-item-link">
                                    Legging Cathedral
                                 </a>
                              </div>
                              <div class="price-box price-final_price">
                                 <span class="price-container">
                                    <span class="price">
                                       $ 35.00
                                    </span>
                                 </span>
                              </div>
                              <!-- actions -->
                              <div class="actions">
                                 <div class="action add-to-cart">
                                    <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                                    </a>
                                 </div>
                                 <div class="action add-to-wishlist">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                                    </a>
                                 </div>
                                 <div class="action add-to-quickview">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
                                    </a>
                                 </div>
                              </div>
                              <!-- end actions -->
                           </div>
                        </div>
                     </div>
                     <!-- end product -->
                     <!-- product -->
                     <div class="col-md-2 col-sm-3">
                        <div class="product-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="200ms">
                           <div class="product-img">
                              <a href="#" class="image-hover">
                                 <img src="images/product/tab-product/2.jpg" alt="" class="product-image-photo">
                                 <img src="images/product/tab-product/2-2.jpg" alt="" class="product-image-photo">
                              </a>
                           </div>
                           <div class="product-info">
                              <div class="ratings">
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star empty"></i>
                                 <i class="fa fa-star empty"></i>
                              </div>
                              <div class="product-name">
                                 <a href="#" class="product-item-link">
                                    Legging Cathedral
                                 </a>
                              </div>
                              <div class="price-box price-final_price">
                                 <span class="price-container">
                                    <span class="price">
                                       $ 35.00
                                    </span>
                                 </span>
                              </div>
                              <!-- actions -->
                              <div class="actions">
                                 <div class="action add-to-cart">
                                    <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                                    </a>
                                 </div>
                                 <div class="action add-to-wishlist">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                                    </a>
                                 </div>
                                 <div class="action add-to-quickview">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
                                    </a>
                                 </div>
                              </div>
                              <!-- end actions -->
                           </div>
                        </div>
                     </div>
                     <!-- end product -->
                     <!-- product -->
                     <div class="col-md-2 col-sm-3">
                        <div class="product-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1200ms">
                           <div class="product-img">
                              <a href="#" class="image-hover">
                                 <img src="images/product/tab-product/7.jpg" alt="" class="product-image-photo">
                                 <img src="images/product/tab-product/7-2.jpg" alt="" class="product-image-photo">
                              </a>
                           </div>
                           <div class="product-info">
                              <div class="ratings">
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star empty"></i>
                                 <i class="fa fa-star empty"></i>
                              </div>
                              <div class="product-name">
                                 <a href="#" class="product-item-link">
                                    Legging Cathedral
                                 </a>
                              </div>
                              <div class="price-box price-final_price">
                                 <span class="price-container">
                                    <span class="price">
                                       $ 35.00
                                    </span>
                                 </span>
                              </div>
                              <!-- actions -->
                              <div class="actions">
                                 <div class="action add-to-cart">
                                    <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                                    </a>
                                 </div>
                                 <div class="action add-to-wishlist">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                                    </a>
                                 </div>
                                 <div class="action add-to-quickview">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
                                    </a>
                                 </div>
                              </div>
                              <!-- end actions -->
                           </div>
                        </div>
                     </div>
                     <!-- end product -->
                  </div>
                  <!-- end row item -->

               </div>
            </div>
            <!-- end tab container -->
            <!-- tab container -->
            <div class="tab-content tab-new-arrival current box-content">
               <div class="product-grid ">

                  <!-- row item -->
                  <div class="row row-items clearfix">
                     <!-- product -->
                     <div class="col-md-2 col-sm-3">
                        <div class="product-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="800ms">
                           <div class="product-img">
                              <a href="#" class="image-hover">
                                 <img src="images/product/tab-product/5.jpg" alt="" class="product-image-photo">
                                 <img src="images/product/tab-product/5-2.jpg" alt="" class="product-image-photo">
                              </a>
                              <p class="product-label sale-label">Sale</p>
                           </div>
                           <div class="product-info">
                              <div class="ratings">
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star empty"></i>
                                 <i class="fa fa-star empty"></i>
                              </div>
                              <div class="product-name">
                                 <a href="#" class="product-item-link">
                                    Legging Cathedral
                                 </a>
                              </div>
                              <div class="price-box price-final_price">
                                 <span class="price-container">
                                    <span class="price">
                                     $ 35.00
                                  </span>
                               </span>
                            </div>
                            <!-- actions -->
                            <div class="actions">
                              <div class="action add-to-cart">
                                 <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                                 </a>
                              </div>
                              <div class="action add-to-wishlist">
                                 <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                                 </a>
                              </div>
                              <div class="action add-to-quickview">
                                 <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
                                 </a>
                              </div>
                           </div>
                           <!-- end actions -->
                        </div>
                     </div>
                  </div>
                  <!-- end product -->
                  <!-- product -->
                  <div class="col-md-2 col-sm-3">
                     <div class="product-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1000ms">
                        <div class="product-img">
                           <a href="#" class="image-hover">
                              <img src="images/product/tab-product/6.jpg" alt="" class="product-image-photo">
                              <img src="images/product/tab-product/6-2.jpg" alt="" class="product-image-photo">
                           </a>
                        </div>
                        <div class="product-info">
                           <div class="ratings">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star empty"></i>
                              <i class="fa fa-star empty"></i>
                           </div>
                           <div class="product-name">
                              <a href="#" class="product-item-link">
                                 Legging Cathedral
                              </a>
                           </div>
                           <div class="price-box price-final_price">
                              <span class="price-container">
                                 <span class="price">
                                    $ 35.00
                                 </span>
                              </span>
                           </div>
                           <!-- actions -->
                           <div class="actions">
                              <div class="action add-to-cart">
                                 <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                                 </a>
                              </div>
                              <div class="action add-to-wishlist">
                                 <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                                 </a>
                              </div>
                              <div class="action add-to-quickview">
                                 <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
                                 </a>
                              </div>
                           </div>
                           <!-- end actions -->
                        </div>
                     </div>
                  </div>
                  <!-- end product -->
                  <!-- product -->
                  <div class="col-md-2 col-sm-3">
                     <div class="product-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1200ms">
                        <div class="product-img">
                           <a href="#" class="image-hover">
                              <img src="images/product/tab-product/7.jpg" alt="" class="product-image-photo">
                              <img src="images/product/tab-product/7-2.jpg" alt="" class="product-image-photo">
                           </a>
                        </div>
                        <div class="product-info">
                           <div class="ratings">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star empty"></i>
                              <i class="fa fa-star empty"></i>
                           </div>
                           <div class="product-name">
                              <a href="#" class="product-item-link">
                                 Legging Cathedral
                              </a>
                           </div>
                           <div class="price-box price-final_price">
                              <span class="price-container">
                                 <span class="price">
                                    $ 35.00
                                 </span>
                              </span>
                           </div>
                           <!-- actions -->
                           <div class="actions">
                              <div class="action add-to-cart">
                                 <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                                 </a>
                              </div>
                              <div class="action add-to-wishlist">
                                 <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                                 </a>
                              </div>
                              <div class="action add-to-quickview">
                                 <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
                                 </a>
                              </div>
                           </div>
                           <!-- end actions -->
                        </div>
                     </div>
                  </div>
                  <!-- end product -->
                  <!-- product -->
                  <div class="col-md-2 col-sm-3">
                     <div class="product-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1400ms">
                        <div class="product-img">
                           <a href="#" class="image-hover">
                              <img src="images/product/tab-product/8.jpg" alt="" class="product-image-photo">
                              <img src="images/product/tab-product/8-2.jpg" alt="" class="product-image-photo">
                           </a>
                        </div>
                        <div class="product-info">
                           <div class="ratings">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star empty"></i>
                              <i class="fa fa-star empty"></i>
                           </div>
                           <div class="product-name">
                              <a href="#" class="product-item-link">
                                 Legging Cathedral
                              </a>
                           </div>
                           <div class="price-box price-final_price">
                              <span class="price-container">
                                 <span class="price">
                                    $ 35.00
                                 </span>
                              </span>
                           </div>
                           <!-- actions -->
                           <div class="actions">
                              <div class="action add-to-cart">
                                 <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                                 </a>
                              </div>
                              <div class="action add-to-wishlist">
                                 <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                                 </a>
                              </div>
                              <div class="action add-to-quickview">
                                 <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
                                 </a>
                              </div>
                           </div>
                           <!-- end actions -->
                        </div>
                     </div>
                  </div>
                  <!-- end product -->
                  <!-- product -->
                  <div class="col-md-2 col-sm-3">
                     <div class="product-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="800ms">
                        <div class="product-img">
                           <a href="#" class="image-hover">
                              <img src="images/product/tab-product/5.jpg" alt="" class="product-image-photo">
                              <img src="images/product/tab-product/5-2.jpg" alt="" class="product-image-photo">
                           </a>
                           <p class="product-label sale-label">Sale</p>
                        </div>
                        <div class="product-info">
                           <div class="ratings">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star empty"></i>
                              <i class="fa fa-star empty"></i>
                           </div>
                           <div class="product-name">
                              <a href="#" class="product-item-link">
                                 Legging Cathedral
                              </a>
                           </div>
                           <div class="price-box price-final_price">
                              <span class="price-container">
                                 <span class="price">
                                    $ 35.00
                                 </span>
                              </span>
                           </div>
                           <!-- actions -->
                           <div class="actions">
                              <div class="action add-to-cart">
                                 <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                                 </a>
                              </div>
                              <div class="action add-to-wishlist">
                                 <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                                 </a>
                              </div>
                              <div class="action add-to-quickview">
                                 <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
                                 </a>
                              </div>
                           </div>
                           <!-- end actions -->
                        </div>
                     </div>
                  </div>
                  <!-- end product -->
                  <!-- product -->
                  <div class="col-md-2 col-sm-3">
                     <div class="product-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1200ms">
                        <div class="product-img">
                           <a href="#" class="image-hover">
                              <img src="images/product/tab-product/7.jpg" alt="" class="product-image-photo">
                              <img src="images/product/tab-product/7-2.jpg" alt="" class="product-image-photo">
                           </a>
                        </div>
                        <div class="product-info">
                           <div class="ratings">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star empty"></i>
                              <i class="fa fa-star empty"></i>
                           </div>
                           <div class="product-name">
                              <a href="#" class="product-item-link">
                                 Legging Cathedral
                              </a>
                           </div>
                           <div class="price-box price-final_price">
                              <span class="price-container">
                                 <span class="price">
                                    $ 35.00
                                 </span>
                              </span>
                           </div>
                           <!-- actions -->
                           <div class="actions">
                              <div class="action add-to-cart">
                                 <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                                 </a>
                              </div>
                              <div class="action add-to-wishlist">
                                 <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                                 </a>
                              </div>
                              <div class="action add-to-quickview">
                                 <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
                                 </a>
                              </div>
                           </div>
                           <!-- end actions -->
                        </div>
                     </div>
                  </div>
                  <!-- end product -->
               </div>
               <!-- end row item -->
            </div>
         </div>
         <!-- end tab container -->
         <!-- tab container -->
         <div class="tab-content tab-best-seller current box-content">
            <div class="product-grid ">
               <!-- row item -->
               <div class="row row-items clearfix">
                  <!-- product -->
                  <div class="col-md-2 col-sm-3">
                     <div class="product-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0">
                        <div class="product-img">
                           <a href="#" class="image-hover">
                              <img src="images/product/tab-product/1.jpg" alt="" class="product-image-photo">
                              <img src="images/product/tab-product/1-2.jpg" alt="" class="product-image-photo">
                           </a>
                           <p class="product-label sale-label">Sale</p>
                        </div>
                        <div class="product-info">
                           <div class="ratings">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star empty"></i>
                              <i class="fa fa-star empty"></i>
                           </div>
                           <div class="product-name">
                              <a href="#" class="product-item-link">
                                 Legging Cathedral
                              </a>
                           </div>
                           <div class="price-box price-final_price">
                              <span class="price-container">
                                 <span class="price">
                                  $ 35.00
                               </span>
                            </span>
                         </div>
                         <!-- actions -->
                         <div class="actions">
                           <div class="action add-to-cart">
                              <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                              </a>
                           </div>
                           <div class="action add-to-wishlist">
                              <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                              </a>
                           </div>
                           <div class="action add-to-quickview">
                              <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
                              </a>
                           </div>
                        </div>
                        <!-- end actions -->
                     </div>
                  </div>
               </div>
               <!-- end product -->
               <!-- product -->
               <div class="col-md-2 col-sm-3">
                  <div class="product-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="200ms">
                     <div class="product-img">
                        <a href="#" class="image-hover">
                           <img src="images/product/tab-product/2.jpg" alt="" class="product-image-photo">
                           <img src="images/product/tab-product/2-2.jpg" alt="" class="product-image-photo">
                        </a>
                     </div>
                     <div class="product-info">
                        <div class="ratings">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star empty"></i>
                           <i class="fa fa-star empty"></i>
                        </div>
                        <div class="product-name">
                           <a href="#" class="product-item-link">
                              Legging Cathedral
                           </a>
                        </div>
                        <div class="price-box price-final_price">
                           <span class="price-container">
                              <span class="price">
                                 $ 35.00
                              </span>
                           </span>
                        </div>
                        <!-- actions -->
                        <div class="actions">
                           <div class="action add-to-cart">
                              <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                              </a>
                           </div>
                           <div class="action add-to-wishlist">
                              <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                              </a>
                           </div>
                           <div class="action add-to-quickview">
                              <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
                              </a>
                           </div>
                        </div>
                        <!-- end actions -->
                     </div>
                  </div>
               </div>
               <!-- end product -->
               <!-- product -->
               <div class="col-md-2 col-sm-3">
                  <div class="product-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="400ms">
                     <div class="product-img">
                        <a href="#" class="image-hover">
                           <img src="images/product/tab-product/3.jpg" alt="" class="product-image-photo">
                           <img src="images/product/tab-product/3-2.jpg" alt="" class="product-image-photo">
                        </a>
                     </div>
                     <div class="product-info">
                        <div class="ratings">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star empty"></i>
                           <i class="fa fa-star empty"></i>
                        </div>
                        <div class="product-name">
                           <a href="#" class="product-item-link">
                              Legging Cathedral
                           </a>
                        </div>
                        <div class="price-box price-final_price">
                           <span class="price-container">
                              <span class="price">
                                 $ 35.00
                              </span>
                           </span>
                        </div>
                        <!-- actions -->
                        <div class="actions">
                           <div class="action add-to-cart">
                              <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                              </a>
                           </div>
                           <div class="action add-to-wishlist">
                              <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                              </a>
                           </div>
                           <div class="action add-to-quickview">
                              <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
                              </a>
                           </div>
                        </div>
                        <!-- end actions -->
                     </div>
                  </div>
               </div>
               <!-- end product -->
               <!-- product -->
               <div class="col-md-2 col-sm-3">
                  <div class="product-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="600ms">
                     <div class="product-img">
                        <a href="#" class="image-hover">
                           <img src="images/product/tab-product/4.jpg" alt="" class="product-image-photo">
                           <img src="images/product/tab-product/4-2.jpg" alt="" class="product-image-photo">
                        </a>
                     </div>
                     <div class="product-info">
                        <div class="ratings">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star empty"></i>
                           <i class="fa fa-star empty"></i>
                        </div>
                        <div class="product-name">
                           <a href="#" class="product-item-link">
                              Legging Cathedral
                           </a>
                        </div>
                        <div class="price-box price-final_price">
                           <span class="price-container">
                              <span class="price">
                                 $ 35.00
                              </span>
                           </span>
                        </div>
                        <!-- actions -->
                        <div class="actions">
                           <div class="action add-to-cart">
                              <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                              </a>
                           </div>
                           <div class="action add-to-wishlist">
                              <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                              </a>
                           </div>
                           <div class="action add-to-quickview">
                              <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
                              </a>
                           </div>
                        </div>
                        <!-- end actions -->
                     </div>
                  </div>
               </div>
               <!-- end product -->
               <!-- product -->
               <div class="col-md-2 col-sm-3">
                  <div class="product-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="200ms">
                     <div class="product-img">
                        <a href="#" class="image-hover">
                           <img src="images/product/tab-product/2.jpg" alt="" class="product-image-photo">
                           <img src="images/product/tab-product/2-2.jpg" alt="" class="product-image-photo">
                        </a>
                     </div>
                     <div class="product-info">
                        <div class="ratings">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star empty"></i>
                           <i class="fa fa-star empty"></i>
                        </div>
                        <div class="product-name">
                           <a href="#" class="product-item-link">
                              Legging Cathedral
                           </a>
                        </div>
                        <div class="price-box price-final_price">
                           <span class="price-container">
                              <span class="price">
                                 $ 35.00
                              </span>
                           </span>
                        </div>
                        <!-- actions -->
                        <div class="actions">
                           <div class="action add-to-cart">
                              <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                              </a>
                           </div>
                           <div class="action add-to-wishlist">
                              <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                              </a>
                           </div>
                           <div class="action add-to-quickview">
                              <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
                              </a>
                           </div>
                        </div>
                        <!-- end actions -->
                     </div>
                  </div>
               </div>
               <!-- end product -->
               <!-- product -->
               <div class="col-md-2 col-sm-3">
                  <div class="product-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1200ms">
                     <div class="product-img">
                        <a href="#" class="image-hover">
                           <img src="images/product/tab-product/7.jpg" alt="" class="product-image-photo">
                           <img src="images/product/tab-product/7-2.jpg" alt="" class="product-image-photo">
                        </a>
                     </div>
                     <div class="product-info">
                        <div class="ratings">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star empty"></i>
                           <i class="fa fa-star empty"></i>
                        </div>
                        <div class="product-name">
                           <a href="#" class="product-item-link">
                              Legging Cathedral
                           </a>
                        </div>
                        <div class="price-box price-final_price">
                           <span class="price-container">
                              <span class="price">
                                 $ 35.00
                              </span>
                           </span>
                        </div>
                        <!-- actions -->
                        <div class="actions">
                           <div class="action add-to-cart">
                              <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
                              </a>
                           </div>
                           <div class="action add-to-wishlist">
                              <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                              </a>
                           </div>
                           <div class="action add-to-quickview">
                              <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
                              </a>
                           </div>
                        </div>
                        <!-- end actions -->
                     </div>
                  </div>
               </div>
               <!-- end product -->
            </div>
            <!-- end row item -->

         </div>
      </div>
      <!-- end tab container -->
   </div>
</div>
</div>
</section>
<!-- end tab colection -->