<div class="tabs-container margin-bottom-100">
   <ul class="tabs clearfix">
      <li><a class="active" href="#tab-description">Description</a></li>
      <li><a href="#tab-reviews" class="">Reviews</a></li>
      <!-- <li><a href="#tab-add_tags" class="">Add Tags</a></li> -->
   </ul>
   <div style="display: block;" id="tab-description" class="tab-content tab-description">
      <%= @product.description %>
   </div>
   <!-- tab-review -->
   <div id="tab-reviews" class="tab-content tab-reviews">
      <div id="reviews">
         <div class="row">
            <div class="col-sm-7">
               <div id="comments">
                  <ul class="commentlist">


                     <div class="col-md-15">
                        <% if @product.comments.count == 0 %>
                        <p>There are no review in products. </p>
                        <%else%>
                          <%= render @comments %>
                        <%= will_paginate @comments %>
                      <% end %>
                    </div>


                   <!--   <li class="comment">
                        <div class="comment_container">
                           <img class="avatar" alt="" src="images/author-1.png">
                           <div class="comment-info">
                              <h4 class="name">Hung</h4>
                              <span class="ratings">
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star empty"></i>
                                 <i class="fa fa-star empty"></i>
                              </span>
                              <span class="date">A few hours ago</span>
                              <div class="description">
                                 <p>Good product (y)</p>
                              </div>
                           </div>
                        </div>
                     </li> -->

                  </ul>
               </div>
            </div>
            <div class="col-sm-5">
               <div id="review_form_wrapper">
                  <div id="review_form">
                     <div class="comment-respond" id="respond">
                        <h2 class="comment-reply-title">Here you can review this item</h2>
                           <div class="clearfix"></div>
                           <p class="comment-form-comment">
                              <section class="micropost_form">
                                 <% if logged_in? %>
                                    <% @comment = @product.comments.build %>
                                    <%= render "comments/comment_form" %>
                                    <!-- <textarea aria-required="true" rows="3" cols="45" placeholder="Message *" name="comment" id="comment"></textarea> -->
                                 <% end %>
                           </section>
                           </p>
                           <p class="form-submit">
                              <span class="ratings">
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star empty"></i>
                                 <i class="fa fa-star empty"></i>
                              </span>
                           </p>
                        <!-- </form> -->
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </div> 
   <!-- end tab review -->
   <!-- tab tags -->

   <!-- <div id="tab-add_tags" class="tab-content tab-add-tags">

      <p>Add your Tags</p>
      <div class="row">
         <div class="col-sm-6"><input type="text" class="add-tag" placeholder="Add your tag"></div>
         <div class="col-sm-6"><button class="button add-tag-btn" value="Add tags">Add tags</button></div>
      </div>
   </div> -->
   <!-- end tab tags -->
</div>
