<div class="tabs-container margin-bottom-100">
   <ul class="tabs clearfix">
      <li><a class="active" href="#tab-description">Description</a></li>
<<<<<<< HEAD
      <li><a href="#tab-reviews" class="">Reviews</a></li>
=======
      <!-- <li><a href="#tab-reviews" class="">Reviews</a></li> -->
>>>>>>> master
      <!-- <li><a href="#tab-add_tags" class="">Add Tags</a></li> -->
   </ul>
   <div style="display: block;" id="tab-description" class="tab-content tab-description">
      <%= @product.description %>
   </div>
   <!-- tab-review -->
   <!-- <div id="tab-reviews" class="tab-content tab-reviews">
      <div id="reviews">
         <div class="row">
            <div class="col-sm-7">
               <div id="comments">
                  <ul class="commentlist">
<<<<<<< HEAD

=======
                     
>>>>>>> master
                     <li class="comment">
                        <div class="comment_container">
                           <img class="avatar" alt="" src="images/author-1.png">
                           <div class="comment-info">
                              <h4 class="name">Hung</h4>
                              <span class="ratings">
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star empty"></i>
                                 <i class="fa fa-star empty"></i>
                              </span>
                              <span class="date">A few hours ago</span>
                              <div class="description">
                                 <p>Good product (y)</p>
                              </div>
                           </div>
                        </div>
                     </li>
<<<<<<< HEAD

=======
                     
                     <li class="comment">
                        <div class="comment_container">
                           <img class="avatar" alt="" src="images/author-2.png">
                           <div class="comment-info">
                              <h4 class="name">ROCKY</h4>
                              <span class="ratings">
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star empty"></i>
                                 <i class="fa fa-star empty"></i>
                              </span>
                              <span class="date">03 MINS AGO</span>
                              <div class="description">
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                              </div>
                           </div>
                        </div>
                     </li>
                     
                     <li class="comment">
                        <div class="comment_container">
                           <img class="avatar" alt="" src="images/author-3.png">
                           <div class="comment-info">
                              <h4 class="name">PHILIP</h4>
                              <span class="ratings">
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star empty"></i>
                                 <i class="fa fa-star empty"></i>
                              </span>
                              <span class="date">03 MINS AGO</span>
                              <div class="description">
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                              </div>
                           </div>
                        </div>
                     </li>
                     
>>>>>>> master
                  </ul>
               </div>
            </div>
            <div class="col-sm-5">
               <div id="review_form_wrapper">
                  <div id="review_form">
                     <div class="comment-respond" id="respond">
                        <h2 class="comment-reply-title">Here you can review this item</h2>
                        <form class="comment-form" id="commentform" method="post" action="#">
                           <p class="comment-form-author">
                              <input size="30" value="" placeholder="Your Name *" name="author" id="author" type="text">
                           </p>
                           <p class="comment-form-email">
                              <input size="30" value="" placeholder="Your Email *" name="email" id="email" type="text">
                           </p>
                           <div class="clearfix"></div>
                           <p class="comment-form-comment">
                              <textarea aria-required="true" rows="3" cols="45" placeholder="Message *" name="comment" id="comment"></textarea>
                           </p>
                           <p class="form-submit">
                             <!--  <span class="ratings">
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star empty"></i>
                                 <i class="fa fa-star empty"></i>
                              </span> -->
                              <input value="ADD REVIEW" class="button" id="submit" name="submit" type="submit">
                           </p>
                        </form>
                     </div>
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div> -->
   <!-- end tab review -->
   <!-- tab tags -->
<<<<<<< HEAD
<!--    <div id="tab-add_tags" class="tab-content tab-add-tags">
=======
   <!-- <div id="tab-add_tags" class="tab-content tab-add-tags">
>>>>>>> master
      <p>Add your Tags</p>
      <div class="row">
         <div class="col-sm-6"><input type="text" class="add-tag" placeholder="Add your tag"></div>
         <div class="col-sm-6"><button class="button add-tag-btn" value="Add tags">Add tags</button></div>
      </div>
   </div> -->
   <!-- end tab tags -->
</div>