<div class="item wow fadeInUp" data-wow-duration="1s" data-wow-delay="100ms">
   <div class="product-item">
      <div class="product-img">
         <a href="#" class="image-hover">
            <img src="images/product/tab-product/1.jpg" alt="" class="product-image-photo">
            <img src="images/product/tab-product/1-2.jpg" alt="" class="product-image-photo">
         </a>
      </div>
      <div class="product-info">
         <div class="ratings">
            <div class="ratings">
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star empty"></i>
               <i class="fa fa-star empty"></i>
            </div>
         </div>
         <div class="product-name">
            <a href="#" class="product-item-link">
               Legging Cathedral
            </a>
         </div>
         <div class="price-box price-final_price">
            <span class="price">
               $ 35.00
            </span>  
         </div>

         <div class="actions">
            <div class="action add-to-cart">
               <a href="#"  data-toggle="tooltip" data-placement="top" title="Add to cart">
               </a>
            </div>
            <div class="action add-to-wishlist">
               <a href="#" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
               </a>
            </div>
            <div class="action add-to-quickview">
               <a href="#" data-toggle="tooltip" data-placement="top" title="Add to quickview">
               </a>
            </div>
         </div>
         
      </div>
   </div>
</div>