# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 38e778bb98f76a508e9b2d624a3edf9b427176be92e2cff92a20fd94b22e8661dd7e0b9b46bd3f66f43a18fc6b66d1b59b453e92cbe215f61f446c8e014dfd67

test:
  secret_key_base: d15fafcbfb254b90b4e38384b41280358ba2b4defb55682b0e22a79f190e4b26e7731dc4b014bcc2635184db9be0e0b27f89c5c84453a7a84781a139ad9e9b8e

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
