<% provide :title, "Cart" %>
<% if !@order_line.nil? && @order_line.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @order_line.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @order_lines.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @order_lines.each do |order_line| %>
    <%= render 'carts/cart_row', product: order_line.product, order_line: order_line, show_total: true %>
  <% end %>
<% end %>
