@import "bootstrap-sprockets";
@import "bootstrap";

$desktop:            "screen and (max-width: 1200px)";
$tablet-land:      "screen and (max-width: 991px)";
$tablet-port:      "screen and (max-width: 768px)";
$mobile-land:         "screen and (max-width: 480px)";
$mobile-port:         "screen and (max-width: 360px)";

@mixin grid-uniform-clearfix($grid-breakpoint-type:"col") {
  .grid--uniform {
    .#{$grid-breakpoint-type}one-half:nth-child(2n+1),
    .#{$grid-breakpoint-type}one-third:nth-child(3n+1),
    .#{$grid-breakpoint-type}one-quarter:nth-child(4n+1),
    .#{$grid-breakpoint-type}one-fifth:nth-child(5n+1),
    .#{$grid-breakpoint-type}one-sixth:nth-child(6n+1),
    .#{$grid-breakpoint-type}two-sixths:nth-child(3n+1),
    .#{$grid-breakpoint-type}three-sixths:nth-child(2n+1),
    .#{$grid-breakpoint-type}two-eighths:nth-child(4n+1),
    .#{$grid-breakpoint-type}four-eighths:nth-child(2n+1),
    .#{$grid-breakpoint-type}five-tenths:nth-child(2n+1),
    .#{$grid-breakpoint-type}one-twelfth:nth-child(12n+1),
    .#{$grid-breakpoint-type}two-twelfths:nth-child(6n+1),
    .#{$grid-breakpoint-type}three-twelfths:nth-child(4n+1),
    .#{$grid-breakpoint-type}four-twelfths:nth-child(3n+1),
    .#{$grid-breakpoint-type}six-twelfths:nth-child(2n+1)    { clear: both; }
  }
}

.btn-danger {
 background-color: #d9534f !important;
 border-color: #d43f3a !important;
}

.products-page .product-grid .col-xs-12:nth-child(3n+1) {
 clear: both;
}

.get-product-api {
  .product-list, .product-detail {
    height: 90vh;
    max-height: 90vh;
    overflow-y: auto;
  }
  .row {
    margin: 0px;
  }
  .col-md-6 {
    padding: 0px 10px;
  }
  .image-block {
    display: flex;
    justify-content: center;
    .image {
      width: 80px;
      height: 40px;
    }
  }
  .action {
    display: flex;
    .btn {
      background: #fff;
      color: #231a1a;
    }
  }
  .product-item {
    padding-top: 10px;
    margin-bottom: 20px !important;
  }
  
}