<h1>AliExpress</h1>

<% unless logged_in? && @current_user.is_admin %>      
  <h1>ADMIN</h1>
<% end %>

<div class="row get-product-api">
	<div class="col-md-6">
		<div class="row">
			<div class="col-xs-2 image-block">
				<div class="image" style="background-image: url('images/collections/1.jpg');">
					
				</div> 
			</div>
			<div class="col-xs-8">
				<div class="name">
					Hung
				</div>
				<div class="description">
					DoHungHung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung Hung 
				</div>
			</div>
			<div class="col-xs-2 action">
				<button>Detail</button>
				<button>Save</button>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		sdf
	</div>
</div>