<% if logged_in? && @current_user.is_admin %>      
<div class="row get-product-api">
	<div class="col-md-6 -col-left">
		<div class="row product-item">
			<div class="col-xs-2 image-block">
				<div class="image" style="background-image: url('/images/collections/1.jpg'); background-repeat: none; background-position: center;background-size: cover">
				</div> 
			</div>
			<div class="col-xs-7 text-left">
				<div class="name">
					<div>Name: <span></span></div>
				</div>
				<div class="info">
					<div>Price: <span></span></div>
				</div>
			</div>
			<div class="col-xs-3 action">
				<button class="btn btn-primary">Detail</button>
				<button class="btn btn-primary">Save</button>
			</div>
		</div>

		
	</div>

	<div class="col-md-6 -col-right">
		sdf
	</div>
</div>

<% end %>