<% provide :title, "All Product" %>
<div class="container">
  <h1><center><%= link_to "Product", products_path %></center></h1>
    <% @products.each do |product| %>
    <li>
      <div class="row-fluid">
        <div class="span5">
          <div class="picture-list">
            <a><%= link_to product do %>
            <%= image_tag( product.picture.url, height: Settings.height_picture_product_index) if product.picture? %>
              <% end %>
            </a>
          </div>
        </div>
        <div class="span7">
          <%= render "product_row", product: product %>
        </div>
      </div>
    </li>
    <hr class="colorgrap">
    <% end %>
</div>
