<div class="breadcrumbs ">
   <div class="container">
      <ul class="items">
         <li class="item home">
            <%= link_to "Home", root_path %>
            <!-- <a href="#" title="Go to Home Page">Home</a> -->
         </li>
         <li class="item category">
            <strong>Products</strong>
         </li>
      </ul>
   </div>
</div>
<!-- End breadcrumbs -->
<main id="maincontent" class="page-main products-page">
   <div class="container">
      <div class="columns">
         <!-- Col main -->
         <div class="column main">
            <div class="toolbar">
               <div class="sort clearfix">
                  <form action="#" class="ordering pull-left">
                     <div class="selectbox">
                        <select class="orderby" name="orderby">
                           <option value="menu_order">Default sorting</option>
                           <option value="popularity">popularity</option>
                           <option value="rating">average rating</option>
                           <option value="date">newness</option>
                           <option value="price">price: low to high</option>
                           <option value="price-desc">price: high to low</option>
                        </select>
                     </div>
                  </form>
                  <div class="style-switch pull-right">                               
                     <!-- <a class="active"  href="#" data-view="grid"><i class="fa fa-th"></i></a>
                     <a href="#" data-view="list"><i class="fa fa-th-list"></i></a> -->
                  </div>
               </div>
               <!-- .sort -->
            </div>

            <div class="product-grid grid--uniform ">
               <% @products.limit(9).each do |product| %>
                  <div class="col-xs-12 col-sm-4">
                     <%= render "components/products/product_item", product: product%>
                  </div>
               <% end %>  
            </div>
            <!-- end product grid -->
            <!-- toolbar bottom -->
            <div class="clearfix"></div>
            <%= will_paginate %>
            <br>
            <!-- <div class="toolbar-bottom"> -->
            <!-- <div class="pagination"> -->
               <!-- <ul>
                     <li class="prev"><a href="#"><i class="fa fa-long-arrow-left"></i> Previous</a></li>
                     <li><a href="#">1</a></li>
                     <li><a href="#">2</a></li>
                     <li><span class="current">3</span></li>
                     <li><a href="#">4</a></li>
                     <li><a href="#">5</a></li>
                     <li><span>...</span></li>
                     <li><a href="#">19</a></li>
                     <li class="next"><a href="#">Next <i class="fa fa-long-arrow-right"></i></a></li>
                  </ul> -->
                  <!-- </div> -->
                  <!-- </div> -->
                  <!-- end tool bar bottom -->
               </div>
            </div>
         </div>
      </main>
