<main class="wrapper main-content detail ">
   <!-- breadcrumb -->
<!--    <div class="breadcrumbs">
   </div>
   <div class="breadcrumbs">
   </div> -->
   <div class="breadcrumbs" style="margin-top: 60px;">
      <div class="container">
         <ul class="items">
            <li class="item home">
               <a href="#" title="Go to Home Page">Home</a>
            </li>
            <li class="item category">
               <a href="#" >Women</a>
            </li>
            <li class="item product-item">
               <strong>Legging Cathedral</strong>
            </li>
         </ul>
      </div>
   </div>
   <!-- End breadcrumbs -->
   <!-- product single -->
   <div class="product-single">
      <div class="container">
         <%= render "components/product/product_info" %>
         <%= render "components/product/product_desciption" %>
         <%= render "components/product/product_related" %>
      </div>
   </div>
   <!-- eng product single -->
</main>