<footer class="site-footer footer-v2">
	<!-- footer content -->
	<div class="footer">
		<div class="head-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3 ft-50 brandknowledge footertop">
						<h2 class="title">
							<a href="#" onclick="return false">Brand Knowledge</a>
						</h2>
					</div>
					<div class="col-md-3 col-sm-3 ft-50 footertop head">
						<h2 class="title">
							<a href="#" onclick="return false">Head Office</a>
						</h2>
					</div>
					<div class="col-md-3 col-sm-3 ft-50 footertop store">
						<h2 class="title">
							<a href="#" onclick="return false">Store System</a>
						</h2>
					</div>
					<div class="col-md-3 col-sm-3 ft-50 footertop careers">
						<h2 class="title">
							<a href="#" onclick="return false">Careers</a>
						</h2>
					</div>
				</div>
			</div>
		</div>
		<!--Main-footer-->
		<div class="main-footer">
			<div class="footer-widget">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="contact">
								<h3 class="title-widget">
									<%= link_to "LHT Fashion Co.,Ltd", root_path %>
								</h3>
								<div class="f-content-widget">
									<div class="social">
										<ul>									
											<li><a href="fb.com/lampvhy" onclick="return false">youtube<i class="fa fa-youtube"></i></a></li>
											<li><a href="https://www.fb.com/lampvhy" onclick="return true">facebook<i class="fa fa-facebook-square"></i></a></li>
											<li><a href="#" onclick="return false">instagram<i class="fa fa-instagram"></i></a></li>
										</ul>
									</div>
									<div class="text-widget">
										<p class="address">
											<Strong>[ Address ]</Strong> 1 , Dai Co Viet Street, Ha Ba Trung, Ha Noi
										</p>
										<p class="hotline">
											<strong>[ Hotline ]</strong> 099 - 999 - 9999
											<strong>[ Fax ]</strong> 090-9999-9999 -
											<strong>[ Email ]</strong> admin@lht.com
										</p>
									</div>
									<div class="Subcribe">
										<form action="#">
											<input type="email" class="email" placeholder="Enter your email">
											<input type="submit" value="Subscribe" class="submit">
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="policy">
								<h3 class="title-widget">
									<a href="#" onclick="return false">Policy & Provision</a>
								</h3>
								<ul>
									<li><a href="#" onclick="return false">Payment Method</a></li>
									<li><a href="#" onclick="return false">Delivery</a></li>
									<li><a href="#" onclick="return false">Warranty Policy</a></li>
									<li><a href="#" onclick="return false">Returns and Refunds</a></li>
									<li><a href="#" onclick="return false">Information Security</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="services">
								<h3 class="title-widget">
									<a href="#" onclick="return false">Customer Services</a>
								</h3>
								<ul>
									<li><a href="#" onclick="return false">My Account</a></li>
									<li><a href="#" onclick="return false">FAQ</a></li>
									<li><a href="#" onclick="return false">Store System</a></li>
									<li><a href="#" onclick="return false">Tracking</a></li>
									<li><a href="#" onclick="return false">Contact US</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END Main-footer-->
		<div class="bottom-footer">
			<div class="container">
				<nav class="footer-menu">
					<ul>
						<li><a href="#" onclick="return false">Privacy & Cookies</a></li>
						<li><a href="#" onclick="return false">Terms & Conditions</a></li>
						<li><a href="#" onclick="return false">Accessibility</a></li>
						<li><a href="#" onclick="return false">Store Directory</a></li>
						<li><a href="#" onclick="return false">About Us</a></li>
					</ul>
				</nav>
				<!-- .footer-menu -->
				<!--  copyright -->
				<div class="copyright">
					<div class="container">
						<p class="a-center">Copyrights © 2017 All Rights Reserved by LHT Inc</p>
					</div>
				</div>
				<!-- end copyright -->
			</div>
		</div>
	</div>

	<!-- end footer content -->

</footer>


<!-- back-top -->
<div id="back-top" class="back-top">
	<i class="fa fa-long-arrow-up"></i>
</div>
