<!-- <footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About us",   about_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>
-->
<footer class="site-footer footer-v2">
	<!-- footer content -->
	<div class="footer">
		<div class="head-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3 ft-50 brandknowledge footertop">
						<h2 class="title">
							<a href="#">Brand Knowledge</a>
						</h2>
					</div>
					<div class="col-md-3 col-sm-3 ft-50 footertop head">
						<h2 class="title">
							<a href="#">Head Office</a>
						</h2>
					</div>
					<div class="col-md-3 col-sm-3 ft-50 footertop store">
						<h2 class="title">
							<a href="#">Store System</a>
						</h2>
					</div>
					<div class="col-md-3 col-sm-3 ft-50 footertop careers">
						<h2 class="title">
							<a href="#">Careers</a>
						</h2>
					</div>
				</div>
			</div>
		</div>
		<!--Main-footer-->
		<div class="main-footer">
			<div class="footer-widget">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="contact">
								<h3 class="title-widget">
									<a href="#">Nautica Fashion Co.,Ltd</a>
								</h3>
								<div class="f-content-widget">
									<div class="social">
										<ul>
											<li><a href="#">twitter<i class="fa fa-twitter"></i></a></li>
											<li><a href="#">pinterrest<i class="fa fa-pinterest"></i></a></li>
											<li><a href="#">facebook<i class="fa fa-facebook-square"></i></a></li>
											<li><a href="#">behance<i class="fa fa-behance"></i></a></li>
											<li><a href="#">dribbble<i class="fa fa-dribbble"></i></a></li>
										</ul>
									</div>
									<div class="text-widget">
										<p class="address">
											<Strong>[ Address ]</Strong> 121 King Street, Melboure, victoria 3000 Australia.
										</p>
										<p class="hotline">
											<strong>[ Hotline ]</strong> 070-7782-9137  - 
											<strong>[ Fax ]</strong> 070-7782-9137  -
											<strong>[ Email ]</strong> contact@mautica.com
										</p>
									</div>
									<div class="Subcribe">
										<form action="#">
											<input type="email" class="email" placeholder="Enter your email">
											<input type="submit" value="Subscribe" class="submit">
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="policy">
								<h3 class="title-widget">
									<a href="#">Policy & Provision</a>
								</h3>
								<ul>
									<li><a href="#">Payment Method</a></li>
									<li><a href="#">Delivery</a></li>
									<li><a href="#">Warranty Policy</a></li>
									<li><a href="#">Returns and Refunds</a></li>
									<li><a href="#">Information Security</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="services">
								<h3 class="title-widget">
									<a href="#">Customer Services</a>
								</h3>
								<ul>
									<li><a href="#">My Account</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">Store System</a></li>
									<li><a href="#">Tracking</a></li>
									<li><a href="#">Contact US</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END Main-footer-->
		<div class="bottom-footer">
			<div class="container">
				<nav class="footer-menu">
					<ul>
						<li><a href="#">Privacy & Cookies</a></li>
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Accessibility</a></li>
						<li><a href="#">Store Directory</a></li>
						<li><a href="#">About Us</a></li>
					</ul>
				</nav>
				<!-- .footer-menu -->
				<!--  copyright -->
				<div class="copyright">
					<div class="container">
						<p class="a-center">Copyrights © 2015 All Rights Reserved by EngoCreative Inc</p>
					</div>
				</div>
				<!-- end copyright -->
			</div>
		</div>
	</div>

	<!-- end footer content -->

</footer>

<!--menu off canvas  -->
<div id="engo-off-canvas" class="engo-off-canvas sidebar-offcanvas hidden-lg hidden-md">
	<div class="engo-off-canvas-body">
		<div class="offcanvas-head bg-primary">
			<span>Menu</span>
		</div>
		<nav class="navbar navbar-offcanvas navbar-static" data-role="navigation">
			<div class="navbar-collapse navbar-offcanvas-collapse toggle-dropdown-menu">
				<ul id="main-menu-offcanvas" class="nav navbar-nav">
					<li id="menu-item-90"><a href="#">Men</a>
					</li>
					<li id="menu-item-91" class="lever0 item-toggle-dropdown has-sub">
						<a href="#">Women</a>
						<div  class="item-toggle-menu">
							<div class="widget-menu">
								<h3 class="menu-title">MEN’S WEAR</h3>
								<div class="widget-menu-detail">
									<ul>
										<li><a href="shop.html">Shirts &amp; Tops</a></li>
										<li><a href="shop.html">Dresses</a></li>
										<li><a href="shop.html">Swimwear</a></li>
										<li><a href="shop.html">Suite</a></li>
										<li><a href="shop.html">Jeans</a></li>
										<li><a href="shop.html">Shoes</a></li>
										<li><a href="shop.html">Sweaters</a></li>
										<li><a href="shop.html">Swimwear</a></li>
									</ul>
								</div>

							</div>
							<div class="widget-menu">
								<h3 class="menu-title">WOMEN’S WEAR</h3>
								<div class="widget-menu-detail">
									<ul>
										<li><a href="shop.html">Party Dress</a></li>
										<li><a href="shop.html">T - Shirt</a></li>
										<li><a href="shop.html">Jean &amp; Trousers</a></li>
										<li><a href="shop.html">Jacket &amp; Coats</a></li>
										<li><a href="shop.html">Sweaters</a></li>
										<li><a href="shop.html">Blouses</a></li>
										<li><a href="shop.html">Sports &amp; Lifestyle</a></li>
										<li><a href="shop.html">Swimwear</a></li>
									</ul>
								</div>

							</div>
							<div class="widget-menu">
								<h3 class="menu-title">ACCESSORIES</h3>
								<div class="widget-menu-detail">
									<ul>
										<li><a href="shop.html">Leather</a></li>
										<li><a href="shop.html">Sunglasses</a></li>
										<li><a href="shop.html">Belts</a></li>
										<li><a href="shop.html">Ring</a></li>
										<li><a href="shop.html">Sweaters</a></li>
										<li><a href="shop.html">Sassuawear</a></li>
										<li><a href="shop.html">Bag &amp; Persess</a></li>
										<li><a href="shop.html">Swimwear</a></li>
									</ul>
								</div>

							</div>
						</div>
					</li>
					<li id="menu-item-88" class="menu-item-88 level-0"><a href="#">Kids</a></li>
					<li id="menu-item-87" class="menu-item-87 level-0"><a href="#">Shoes</a></li>
					<li id="menu-item-86" class="menu-item-86 level-0"><a href="#">Bags</a></li>
					<li id="menu-item-85" class="lever0 item-toggle-dropdown has-sub">
						<a href="#">Pages</a>
						<div  class="item-toggle-menu">
							<div class="widget-menu">
								<h3 class="menu-title">Homepages</h3>
								<div class="widget-menu-detail">
									<ul>
										<li><a href="index.html">Home page style 1</a></li>
										<li><a href="index2.html">Home page style 2</a></li>
										<li><a href="index3.html">Home page style 3</a></li>
										<li><a href="index4.html">Home page style 4</a></li>
										<li><a href="index5.html">Home page style 5</a></li>
										<li><a href="index6.html">Home page style 6</a></li>
										<li><a href="index7.html">Home page style 7</a></li>
										<li><a href="index8.html">Home page style 8</a></li>
									</ul>
								</div>

							</div>
							<div class="widget-menu">
								<h3 class="menu-title">Templates</h3>
								<div class="widget-menu-detail">
									<ul>
										<li><a href="404.html"> Page not found</a></li>
										<li><a href="about.html">About </a></li>
										<li><a href="about-v2">About v2 </a></li>
										<li><a href="cart.html"> Cart</a></li>
										<li><a href="faq.html">faq</a></li>
										<li><a href="contact.html">Contact </a></li>
										<li><a href="contact-v2.html">Contact v2 </a></li>
										<li><a href="login-register.html"> Login & Register</a></li>
										<li><a href="menu-v1-white.html" title="">Menu v1 white</a></li>
										<li><a href="menu-v2-black.html" title="">Menu v2 black</a></li>
										<li><a href="menu-v2-white.html" title="">Menu v2 white</a></li>
										<li><a href="menu-v3-black" title="">Menu v3 black</a></li>
										<li><a href="menu-v3-white" title="">Menu v3 White</a></li>
									</ul>
								</div>

							</div>
							<div class="widget-menu">
								<h3 class="menu-title">Shop teamplate</h3>
								<div class="widget-menu-detail">
									<ul>
										<li><a href="shop-grid-full-screen.html">Shop grid full screen v1</a></li>
										<li><a href="shop-grid-full-screen-v2.html">Shop grid full screen v2</a></li>
										<li><a href="shop-grid-full-width.html">Shop grid full width v1</a></li>
										<li><a href="shop-grid-full-width-v1.html">Shop grid full width v2</a></li>
										<li><a href="shop-list-right-sidebar.html">Shop list right sidebar v1</a></li>
										<li><a href="shop-list-right-sidebar-v2.html">Shop list right sidebar v2</a></li>
										<li><a href="shop-list-left-sidebar.html">Shop list left sidebar v1</a></li>
										<li><a href="shop-list-left-sidebar-v2.html">Shop list left sidebar v2</a></li>
										<li><a href="quickview.html" title="">Quick view</a></li>
										<li><a href="wishlist.html" title="">Wishlist</a></li>
										<li><a href="checkout.html" title="">Check out</a></li>
										<li><a href="product.html" title="">Product detail</a></li>
										<li><a href="product-v2.html" title="">Product detail v2</a></li>
										<li><a href="odercomplete.html" title="">Oder complete</a></li>
									</ul>
								</div>

							</div>
							<div class="widget-menu">
								<h3 class="menu-title">Shop teamplate</h3>
								<div class="widget-menu-detail">
									<ul>
										<li><a href="shop-grid-3col-left-sidebar.html">Shop grid 3 col LeftSidebar v1</a></li>
										<li><a href="shop-grid-3col-left-sidebar-v2.html">Shop grid 3 col LeftSidebar v2</a></li>
										<li><a href="shop-grid-3col-right-sidebar.html">Shop grid 3 col RightSidebar v1</a></li>
										<li><a href="shop-grid-3col-right-sidebar-v2.html">Shop grid 3 col RightSidebar v2</a></li>
										<li><a href="shop-grid-fullwidth.html">Shop grid Fullwidth v1</a></li>
										<li><a href="shop-grid-fullwidth-v2.html">Shop grid 3 col Fullwidth v2</a></li>
										<li><a href="shop-grid-2col-left-sidebar.html">Shop grid 2 col LeftSidebar v1</a></li>
										<li><a href="shop-grid-2col-left-sidebar-v2.html">Shop grid 2 col LeftSidebar v2</a></li>
										<li><a href="shop-grid-2col-right-sidebar.html">Shop grid 2 col RightSidebar v1</a></li>
										<li><a href="shop-grid-2col-left-sidebar-v2.html">Shop grid 2 col RightSidebar v2</a></li>
									</ul> 
								</div>

							</div>
						</div>
					</li>
					<li id="menu-item-89" class="lever0 item-toggle-dropdown has-sub"><a href="#">Blog</a>
						<div  class="item-toggle-menu">
							<div class="widget-menu">
								<ul>
									<li><a href="blog-v4.html">Blog version 4</a></li>
									<li><a href="blog-v3-3col.html">Blog version 3 - 3 col</a></li>
									<li><a href="blog-v3-2col">Blog version 3 - 2 col</a></li>
									<li><a href="blog-v2-right.html">Blog version 2 - Right</a></li>
									<li><a href="blog-v2-left.html">Blog version 2 - Left</a></li>
									<li><a href="blog-v1-right-sidebar.html">Blog version 1 - Right Sidebar</a></li>
									<li><a href="blog-v1-left-sidebar.html">Blog version 1 - Left Sidebar</a></li>
									<li><a href="single-post-v2.html">Single Post - Left Sidebar</a></li>
									<li><a href="single-post-right-sidebar.html">Single Post - Right Sidebar</a></li>
									<li><a href="single-post">Single Post - Fullwidth</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li id="menu-item-115" class="menu-item-115 level-0"><a href="#">Contact</a></li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<!-- back-top -->
<div id="back-top" class="back-top">
	<i class="fa fa-long-arrow-up"></i>
</div>